<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<h1>欢迎来到注册页面!</h1>
<a href='{% url 'index' %}'>回到主页</a>
<form method="post" action="" enctype='multipart/form-data'>
 {% csrf_token %}
    {{ register_form.username.label_tag }}
    {{ register_form.username}}<br>
    {{ register_form.password1.label_tag }}
    {{ register_form.password1 }}<br>
    {{ register_form.password2.label_tag }}
    {{ register_form.password2 }}<br>
    {{ register_form.email.label_tag }}
    {{ register_form.email }}<br>
    {{ register_form.name.label_tag }}
    {{ register_form.name }}<br>
    {{ register_form.sex.label_tag }}
    {{ register_form.sex }}<br>
    {{ register_form.description.label_tag }}
    {{ register_form.description }}<br>
    头像: <input type="file" name="avatar"><br>
    验证码：{{ register_form.verification }}<br>
    <input type="submit" value="提交">
    <br>
    <br>
    {% if message %}
    {{ message }}
    {% endif %}
</form>
</body>
</html>

